PORT=3001
NODE_ENV=development
DATABASE_URL= postgresql://neondb_owner:npg_QZAY4ucrC7IN@ep-nameless-tooth-aoqk0ohq-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_ZW5hYmxpbmctYnVubnktNDMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_fgDnnJCjLF51hkux73XhIxIRU1IPSHVO9YAg7BjgSo

SENTRY_DSN=https://0252ec24ca9b8dc34bd14cc64b2f7e62@o4511172701716480.ingest.us.sentry.io/4511421733208065


STREAM_API_KEY=3zt6e7rkbeez
STREAM_API_SECRETE=e6xn97jcg2esf4ckj9wuwwd8ccfjqhcvktpa5n53yk6qq9j3na2d5czxg9umnkmj

IMAGEKIT_PUBLIC_KEY=public_VFeERn3TT+2CVOi10tqPwR5yp38=
IMAGEKIT_PRIVATE_KEY=private_XFt+2PxFdiCYQVh9tMp7pb9AMDI=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/f8f6eathgg

